@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
:root {
  /* Primary */
  --var-veryDarkBlue: hsl(233, 47%, 7%);
  --var-darkDesaturatedBlue: hsl(244, 38%, 16%);
  --var-softViolet: hsl(277, 64%, 61%);
  /* Nuetral */
  --var-white: hsl(0, 0%, 100%);
  --var-slightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
  --var-slightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);
  --mobile: 375px;
  --desktop: 1440px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--var-veryDarkBlue);
  color: var(--var-white);
}

main {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 30px 0;
}

.container {
  background: var(--var-darkDesaturatedBlue);
  width: 325px;
  border-radius: 10px;
  overflow: hidden;
}

.header__image {
  background: var(--var-softViolet);
}

img {
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.card__text {
  text-align: center;
  padding: 40px 30px 10px 30px;
}

h2 {
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 span {
  color: var(--var-softViolet);
}

.text__main {
  line-height: 1.6;
  margin-bottom: 25px;
  color: var(--var-slightlyTransparentWhiteMain);
}

.stat__title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stat {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: var(--var-slightlyTransparentWhite);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 36px;
  }
  main {
    margin: 0;
  }
  .container {
    width: 1140px;
  }
  .header__image {
    float: right;
    width: 48%;
  }
  .card__text {
    text-align: left;
    padding: 60px 120px 0px 60px;
    width: 570px;
  }
  .text__main {
    margin-bottom: 60px;
  }
  .stat__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
