<figure class="product__card">
	<div class="product__image__div">
		<img src="{IMAGE}" alt="iPhone" class="product__image" />
	</div>
	<div class="product__name">{NAME}</div>
	<div class="product__price"><b>Price:</b> {PRICE}</div>
	<div class="product__detail">
		<div class="porduct__ROM"><b>ROM:</b> {ROM}</div>
		<div class="product__color"><b>Color:</b> {COLOR}</div>
	</div>
	<div class="product__camera"><b>Camera:</b> {CAMERA}</div>
	<a href="product?id={ID}" class="product__link">
		<span>Product details</span>
	</a>
</figure>
