// fonts
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
	/* Primary */

	--clr-veryDarkGrayishBlue: hsl(217, 19%, 35%);
	--clr-desaturatedDarkBlue: hsl(214, 17%, 51%);
	--clr-GrayishBlue: hsl(212, 23%, 69%);
	--clr-lightGrayishBlue: hsl(210, 46%, 95%);

	// Width
	--mobile: 375px;
	--desktop: 1440px;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
img {
	display: block;
	width: 100%;
}
h1 {
	color: var(--clr-veryDarkGrayishBlue);
	font-size: 16px;
	margin-bottom: 15px;
}
html {
	height: 100%;
}
b {
	font-weight: 700;
}

// -------------------------------------------------------

body {
	min-height: 100vh;
	font-size: 13px;
	font-family: "Manrope", sans-serif;
	line-height: 1.4;
	color: var(--clr-desaturatedDarkBlue);
	background-color: var(--clr-lightGrayishBlue);
	display: grid;
	justify-content: center;
}

main {
	margin: 70px 35px;
}

.card {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	@media (max-width: 875px) {
		max-width: 400px;
	}
	.card__img {
		overflow: hidden;
		position: relative;
		min-height: 210px;
		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.text__content {
		background: #ffffff;
		padding: 40px 30px 30px;
	}
	.main__text {
		letter-spacing: 0.4px;
	}
}

.info__bottom {
	position: relative;
	background-color: #ffffff;
	padding: 15px 30px;
	display: flex;
	align-items: center;

	.info__block {
		display: flex;
		align-items: center;
		gap: 20px;
		height: 40px;

		.avatar__foto {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			overflow: hidden;
		}

		p {
			color: var(--clr-veryDarkGrayishBlue);
			span {
				color: var(--clr-desaturatedDarkBlue);
				display: block;
			}
		}
	}

	.text__share {
		line-height: 40px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: var(--clrGrayishBlue);
	}
}

.info__hidden {
	position: absolute;
	inset: 0;
	padding: 15px 30px;
	border-radius: 0 0 0 10px;
	display: flex;
	background-color: var(--clr-veryDarkGrayishBlue);
	align-items: center;
	gap: 18px;
	p {
		line-height: 40px;
		text-transform: uppercase;
		letter-spacing: normal;
		letter-spacing: 3px;
		color: var(--clr-GrayishBlue);
	}
	transform: translateX(100%);
	transition: all 0.7s ease-out;
	@media (max-width: 875px) {
		&.active {
			// display: flex;
			transform: translateX(0);
		}
	}
}

.share__arrow {
	position: absolute;
	right: 45px;
	bottom: 29px;
	cursor: pointer;
	z-index: 1;
	.share__gray {
		display: block;
	}
	.share__white {
		display: none;
	}
	&::before {
		position: absolute;
		content: "";
		top: -8px;
		left: -8px;
		height: 30px;
		width: 30px;
		background-color: var(--clr-lightGrayishBlue);
		border-radius: 50%;
		z-index: -1;
	}
	&:hover {
		&::before {
			background-color: hsl(211, 28%, 83%);
		}
	}
}

.share__arrow.active {
	&::before {
		background-color: var(--clr-GrayishBlue);
	}
	& > :nth-child(1) {
		display: none;
	}
	& > :nth-child(2) {
		display: block;
	}
	&:hover {
		&::before {
			background-color: hsl(211, 28%, 83%);
		}
	}
}

.icon__share__desktop {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -70px;
	right: 107px;
	transition: all 0.3s ease;
	.icons__share {
		position: fixed;
		display: flex;
		gap: 15px;
		align-items: center;
		padding: 10px 20px;
		color: var(--clr-GrayishBlue);
		color: #ffffff;
		border-radius: 5px;
		background-color: var(--clr-desaturatedDarkBlue);
		p {
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		img {
			height: 20px;
			width: 20px;
		}
		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 90%);
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid var(--clr-desaturatedDarkBlue);
		}
	}
}

@media (min-width: 875px) {
	div.icon__share__desktop.active {
		visibility: visible;
		opacity: 0.9;
	}
}

// -----------------------------------------------------

@media (min-width: 876px) {
	main {
		margin: auto;
	}
	.card {
		display: flex;
		max-width: 720px;
	}
	.card__img {
		min-width: 40%;
	}

	.text__content {
		padding: 25px 30px 20px;
	}

	.main__text {
		letter-spacing: 0.2px;
	}

	.info__bottom {
		padding: 0 30px 20px;
	}
}
