// fonts

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
	--ff-body: "Rubik", sans-serif;

	--fs-body: 19rem;

	/* Primary */

	--clr-blue: hsl(246, 80%, 60%);
	//  work
	--clr-lightRedWork: hsl(15, 100%, 70%);
	//  play
	--clr-softBlue: hsl(195, 74%, 62%);
	//  study
	--clr-lightRedStudy: hsl(348, 100%, 68%);
	//  exercise
	--clr-limeGreen: hsl(145, 58%, 55%);
	//  social
	--clr-violet: hsl(264, 64%, 52%);
	//  self care
	--clr-softOrange: hsl(43, 84%, 65%);

	/* Neutral */
	--clr-veryDarkBlue: hsl(226, 43%, 10%);
	--clr-darkBlue: hsl(235, 46%, 20%);
	--clr-desaturatedBlue: hsl(235, 45%, 61%);
	--clr-paleBlue: hsl(236, 100%, 87%);

	// --size-mobile: 375px;
	// --size-desktop: 1440px;

	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}
img {
	display: block;
	// max-width: 100%;
	width: 100%;
	-webkit-user-drag: none;
}

ul,
li {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--ff-body-s);
}

html {
	font-size: 6.25%;
	min-width: 320px;
}

// ------------------------------------

// -------------------- INPUT BACKGROUND AND TEXT COLOR --------------------------

// -------------------------------------------------------

body {
	height: 100%;
	width: 100%;
	font-size: var(--fs-body);
	font-weight: 400;
	font-family: var(--ff-body);
	color: var(--clr-desaturatedBlue);
	line-height: 1.4;
	text-align: center;
	background: #ffffff;
	transition: 0.5s;
	background: var(--clr-veryDarkBlue);
}

main {
	padding: 70px 20px 70px;
}

.main__dashboard {
	isolation: isolate;
	position: relative;
	max-width: 320rem;
	margin-inline: auto;
	margin-bottom: 135px;
}

.main__info {
	display: flex;
	align-items: center;
	gap: 20rem;
	background: var(--clr-blue);
	padding: 30rem;
	border-radius: 10px;
	font-size: 15rem;
	text-align: left;
	color: var(--clr-paleBlue);

	img {
		height: 70rem;
		width: 70rem;
		border: white solid 2.5rem;
		border-radius: 35rem;
		background-color: white;
	}
	span {
		display: block;
		font-size: 23rem;
		color: white;
		font-weight: 300;
	}
}

.main__period {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: var(--clr-darkBlue);
	padding: 40rem 30rem 20rem;
	transform: translateY(-20rem);
	border-radius: 0 0 10rem 10rem;
	z-index: -1;
	font-size: 16rem;
	cursor: pointer;
	.main__timeframe {
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			color: white;
		}
		&._active {
			color: white;
			&:hover {
				cursor: default;
			}
		}
	}
}

//  -----------------------------------------

.category__items {
	position: relative;
	z-index: 1;
	:last-child {
		margin-bottom: 0;
	}
}
.category__item {
	position: relative;
	max-width: 320rem;
	margin-inline: auto;
	margin-bottom: 70rem;
	background: var(--clr-darkBlue);
	border-radius: 10rem;
	padding: 25rem 30rem;
	color: #ffffff;
	line-height: 1.6;
	transition: 0.3s;
	&:hover {
		background: #34397b;
	}
	.category {
		font-weight: 500;
	}
}

.item_1,
.item_2,
.item_3,
.item_4,
.item_5,
.item_6 {
	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		background: white;
		border-radius: 10rem;
		top: -45rem;
		left: 0;
		height: 60rem;
		z-index: -1;
	}
}

.item_1:after {
	background: var(--clr-lightRedWork) url(../images/icon-work.svg) no-repeat center right / contain;
}

.item_2:after {
	background: var(--clr-softBlue) url(../images/icon-play.svg) no-repeat center right / contain;
}

.item_3:after {
	background: var(--clr-lightRedStudy) url(../images/icon-study.svg) no-repeat center right / contain;
}

.item_4:after {
	background: var(--clr-limeGreen) url(../images/icon-exercise.svg) no-repeat center right / contain;
}

.item_5:after {
	background: var(--clr-violet) url(../images/icon-social.svg) no-repeat center right / contain;
}

.item_6:after {
	background: var(--clr-softOrange) url(../images/icon-self-care.svg) no-repeat center right / contain;
}

.card__header,
.card__hours {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.current {
	font-size: 30rem;
	font-weight: 300;
}

.previous__hours {
	color: var(--clr-paleBlue);
	font-size: 16rem;
}
.ellipsis {
	width: 20rem;
	height: 5rem;
	&:hover {
		cursor: pointer;
	}
}

//  -------------------------------------------

@media (min-width: 768px) {
	html,
	body {
		height: 100vh;
	}

	body {
		display: grid;
		place-items: center;
	}
	main {
		padding: 0;
		margin-top: -100rem;
		display: grid;
		column-gap: 20rem;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 2fr;
	}

	//  ---------------------------------

	.main__dashboard,
	.category__item {
		min-width: 210rem;
		margin-bottom: 0;
	}
	.main__dashboard {
		width: 100%;
		.main__info {
			flex-direction: column;
			align-items: flex-start;
			gap: 40rem;
		}
		span {
			max-width: 6ch;
			padding-bottom: 35rem;
			font-size: 32rem;
		}
	}
	.main__period {
		flex-direction: column;
		align-items: flex-start;
		gap: 10rem;
	}

	// -----------------------------------------

	.category__items {
		display: grid;
		column-gap: 20rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column: 2 / -1;
		transform: translateY(115rem);
	}

	.item_1,
	.item_2,
	.item_3 {
		top: -70px;
	}

	.category__item {
		.card__header {
			margin-bottom: 10rem;
		}
		.card__hours {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}
